
@model SkhuKB.Models.TestClass

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Test</title>
</head>
<body>
    <div>
        <p>테스트 페이지 : @ViewBag.TestValue </p>
        <p>Model : @Model.TestValue</p>
    </div>
</body>
</html>
