@model SkhuKB.Models.UserVO
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div>


    <div>
        <p>아이디 : @Model.Username</p>
    </div>
    <div>
        검색해주세요.
    </div>
    <div>
        
    </div>
    

    

</div>
